<div class="container-sm" data-controller="selection">
 <div class="banner-top">
  <% if @scan_reffered %>
    <div data-controller="barcode-handler">
      <div class="title-add">
        <h2><strong>Pick your ingredients!</strong></h2>
        <div>
          <input type="file" name="image" accept="image/*"
            capture="environment"
            data-action="click->barcode-handler#findbyBarcode"
            data-barcode-handler-target="videoInput"
            style="display:none">
          <div id="add-btn" data-action="click->selection#new" data-barcode-handler-target="add">
            <i class="fa-solid fa-plus" data-selection-target="plus"></i>
            <i class="fa-solid fa-minus d-none" data-selection-target="minus"></i>
          </div>
        </div>
      </div>
      <div class="d-none" data-selection-target="add" >
        <%= simple_form_for [@inventory, @inventory_ingredient] do |f| %>
          <%= f.input :ingredient_id, collection: Ingredient.all.sort_by { |ing| ing.name }, input_html: { data: { barcode_handler_target: "form"}} %>
          <%= f.input :quantity, label: 'Quantity (units/g/ml) :', input_html: { data: { barcode_handler_target: "quantity"}} %>
          <%= f.submit 'Add an ingredient', class:"submit-btn" %>
        <% end %>
      </div>
    </div>
    <% else %>
      <div class="title-add">
      <h2><strong>Pick your ingredients!</strong></h2>
        <div id="add-btn" data-action="click->selection#new">
          <i class="fa-solid fa-plus" data-selection-target="plus"></i>
          <i class="fa-solid fa-minus d-none" data-selection-target="minus"></i>
        </div>
      </div>
      <div class="d-none" data-selection-target="add" >
        <%= simple_form_for [@inventory, @inventory_ingredient] do |f| %>
          <%= f.input :ingredient_id, collection: Ingredient.all.sort_by { |ing| ing.name } %>
          <%= f.input :quantity, label: 'Quantity (units/g/ml) :' %>
          <%= f.submit 'Add an ingredient', class:"submit-btn" %>
        <% end %>
      </div>
    <% end %>
  <div class="row justify-content-center">
    <div class="col-sm-8 my-3">
      <%= form_with url: inventory_path(@inventory), method: :get, class: "d-flex", data: {selection_target: "form"} do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Search for an ingredient",
              data: {selection_target: "input",
              action: "keyup->selection#update",
              }
          %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
  <%= render partial: "inventory_ingredients", locals: { inventory_ingredients: @inventory_ingredients } %>
  <div class="banner-bottom">
    <div class="bottom-btn" data-action="click->selection#submit"> Get me recipes! </div>
  </div>
</div>
