<div class="container-sm" data-controller="selection">
  <div class="title-add">
    <h2><strong>Pick your ingredients!</strong></h2>
    <div id="add-btn">
      <%= link_to new_inventory_inventory_ingredient_path(@inventory) do %>
        <i class="fa-solid fa-plus"></i>
      <% end %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-8 my-3">
      <%= form_with url: inventory_path(@inventory), method: :get, class: "d-flex", data: {selection_target: "form"} do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Type a keyword",
              data: {selection_target: "input",
              action: "keyup->selection#update",
              }
          %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <%= render partial: "inventory_ingredients", locals: { inventory_ingredients: @inventory_ingredients } %>
    <div class="banner-bottom">
      <button class="bottom-btn" data-action="click->selection#submit"> Get me recipes! </button>
    </div>
</div>
