<div class="my-2 d-flex flex-grow-1">
  <div class="ingredient-card">
    <div class="ingredient-icon">
    <% if inventory_ingredient.expiration_date <= Date.today + 2 %>
      <%= image_tag "alert_icon.ico" %>
    <% end %>
    </div>
    <div class="ingredient-name">
      <p><%= inventory_ingredient.ingredient.name%></p>
    </div>
    <div id="ingredient-qty">
      <p data-selection-paragraph="<%= inventory_ingredient.id %>"><%= inventory_ingredient.format_float %> <%= inventory_ingredient.ingredient.category.measuring_unit unless inventory_ingredient.ingredient.category.measuring_unit == "u." %></p>
       <div data-selection-form="<%= inventory_ingredient.id %>" class="d-none">
          <%= simple_form_for inventory_ingredient, html: { class:"form-update" } do |f| %>
            <%= f.input :quantity, label: false %>
          <% end %>
        </div>
    </div>
  </div>
</div>
