<div class="navbar-bottom">
  <%= link_to root_path do %>
    <%= image_tag "home-icon.png" %>
  <% end %>
  <% if user_signed_in? %>
    <%= link_to inventory_path(current_user) do %>
      <%= image_tag "ingredients-icon.png" %>
    <% end %>
  <% else %>
    <%= image_tag "ingredients-icon.png" %>
  <% end %>
  <%= link_to recipes_path() do %>
    <%= image_tag "recipe-icon.png" %>
  <% end %>
  <% if user_signed_in? %>
    <%= link_to shopping_list_path(current_user) do %>
      <%= image_tag "shopping-list-icon.png" %>
    <% end %>
  <% else %>
    <%= image_tag "shopping-list-icon.png" %>
  <% end %>
</div>
