<div class="recipe-card">
        <div id="recipe-photo">
          <%= cl_image_tag recipe.photo.key %>
        </div>
        <div class="recipe-details-card">
          <div id="recipe-title">
            <h5><%= recipe.name %></h5>
          </div>
          <div id="recipe-nb-ingredients">
          <% @available_ingredients = [] %>
          <% recipe.ingredients.each do |ingr| %>
            <% @available_ingredients << ingr if @all_ingredients.include?(ingr.id) %>
          <% end %>
            <p><%= @available_ingredients.count %> / <%= recipe.ingredients.count %> ingredients</p>
          </div>
          <div id="recipe-nb-people">
            <p><%= recipe.number_of_people %> <%= recipe.number_of_people > 1 ? "people" : "person" %></p>
          </div>
        </div>
      </div>
