<div class="container-sm">
  <div class="shopping-list-banner my-4">
    <div>
      <h2>My Shopping List:</h2>
    </div>
    <div id="add-btn">
      <%= link_to "#" do %>
        <i class="fa-solid fa-plus"></i>
      <% end %>
    </div>
  </div>
  <div data-controller="shopping-list">
    <% @categories.each do |category_name| %>
      <div class="ingredient-card" id="category-card-bg" data-action="click->shopping-list#dropdown">
        <div class="ingredient-icon" >
        </div>
        <div class="ingredient-name">
          <%= category_name %>
        </div>
        <div id="ingredient-dropdown">
          <i class="fa-solid fa-caret-down"></i>
        </div>
      </div>
      <div>
        <% @ingredients.each do |ingredient| %>
          <% if ingredient.category.name == category_name  %>
            <div class="my-2">
              <div class="ingredient-card-edit">
                <div class="ingredient-card" id="ingredient-card-bg">
                  <div class="ingredient-icon">
                    <i class="fa-regular fa-square mx-2" data-action="click->shopping-list#select" data-selected="false" data-ingredient-id= "<%= ingredient.id%>" data-ingredient-qty= "<%= @shoppinglist_ingredients.find_by(ingredient:).quantity %>"></i>
                  </div>
                  <div class="ingredient-name">
                    <p><%= ingredient.name%></p>
                  </div>
                  <div id="ingredient-qty">
                    <p><%= @shoppinglist_ingredients.find_by(ingredient:).quantity %></p>
                  </div>
                </div>
                <div id="ingredient-edit">
                  <%= link_to "#" do%>
                    <i class="fa-solid fa-pencil"></i>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <div class="bottom-btn" data-action="click->shopping-list#submit">
      <%= link_to "Shopping Done" %>
    </div>
  </div>
</div>
