<div class="container-sm" data-controller="shopping-list" >
  <div class="banner-top">
    <div class="details-banner">
      <div>
        <h2>My Shopping List:</h2>
      </div>
      <div id="add-btn" data-action="click->shopping-list#new" >
          <i class="fa-solid fa-plus"></i>
      </div>
    </div>
  </div>
  <div class="d-none" data-shopping-list-target="form" >
    <%= simple_form_for @shoppinglist_ingredient do |f| %>
      <%= f.input :ingredient_id, collection: Ingredient.all %>
      <%= f.input :quantity %>
      <%= f.submit 'Add an ingredient'%>
    <% end %>
  </div>
  <div>
    <% @categories.each do |category| %>
      <div class="ingredient-card" id="category-card-bg" data-action="click->shopping-list#dropdown">
        <div class="ingredient-icon" >
          <%= cl_image_tag category.icon.key %>
        </div>
        <div class="ingredient-name">
          <%= category.name %>
        </div>
        <div id="ingredient-dropdown">
          <i class="fa-solid fa-caret-down"></i>
        </div>
      </div>
      <div data-shopping-list-target="shopping">
        <% @ingredients.each do |ingredient| %>
          <% if ingredient.category.name == category.name  %>
            <div class="my-2">
              <div class="ingredient-card-edit">
                <div class="ingredient-card" id="ingredient-card-bg">
                  <div class="ingredient-icon">
                    <i class="fa-regular fa-square mx-2" data-action="click->shopping-list#select" data-selected="false" data-ingredient-id= "<%= ingredient.id%>" data-ingredient-qty= "<%= @shoppinglist_ingredients.find_by(ingredient:).quantity %>"></i>
                  </div>
                  <div class="ingredient-name">
                    <p><%= ingredient.name%></p>
                  </div>
                  <div id="ingredient-qty">
                    <p data-shoppinglist-paragraph="<%= ingredient.id %>"><%= @shoppinglist_ingredients.find_by(ingredient:).format_float %> <%= @shoppinglist_ingredients.find_by(ingredient:).ingredient.category.measuring_unit unless  @shoppinglist_ingredients.find_by(ingredient:).ingredient.category.measuring_unit == "u." %></p>
                    <div data-shoppinglist-form="<%= ingredient.id %>" class="d-none">
                      <%= simple_form_for @shoppinglist_ingredients.find_by(ingredient:), html: { class:"form-update" } do |f| %>
                        <%= f.input :quantity, label: false %>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div id="ingredient-edit" data-action="click->shopping-list#edit" data-event-id="<%= ingredient.id %>">
                    <i class="fa-solid fa-pencil"></i>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="banner-bottom">
    <div class="bottom-btn" data-action="click->shopping-list#submit">
      <%= link_to "Shopping Done" %>
    </div>
  </div>
</div>
